<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
    <h1>Länder mit Rezepten</h1>
    <div class="row col-12 p-0">

        <div class="accordion accordion-flush" id="accordionFlushExample">

            <f:for each="{countries}" as="country" iteration="iterator">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{iterator.cycle}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{iterator.cycle}" aria-expanded="false"
                                aria-controls="flush-collapse{iterator.cycle}">
                            <f:if condition="{country.flag}">
                                <f:image src="{country.flag.originalResource.publicUrl}"
                                         class="img-fluid rounded img-thumbnail" alt="..."
                                         style="object-fit: cover; height: 100%;" maxWidth="40" maxHeight="30"/>
                            </f:if>
                             {country.title}

                        </button>
                    </h2>
                    <div id="flush-collapse{iterator.cycle}" class="accordion-collapse collapse p-3" aria-labelledby="flush-heading{iterator.cycle}"
                         data-bs-parent="#accordionFlushExample">
                        <p>{country.teaser}</p>
                        {country.description -> f:format.html()}
                        <f:if condition="{country.media}">
                            <div class="row mb-2">
                                <f:for each="{country.media}" as="mediaItem">
                                    <div class="col-12 col-sm-6 sol-md-4 overflow-hidden">
                                        <f:image src="{mediaItem.originalResource.publicUrl}" maxWidth="500"
                                                 loading="lazy" style="object-fit: cover; height: 100%;"/>
                                    </div>
                                </f:for>
                            </div>
                        </f:if>
                        <f:link.action action="show" pageUid="{settings.country.detailPage}" controller="Country"
                                       pluginName="Countries" arguments="{country : country}"
                                       class="btn btn-primary">
                            Rezepte aus {country.title} ansehen
                        </f:link.action>
                    </div>
                </div>

            </f:for>
        </div>

    </div>

</f:section>
</html>
